@model UserRegisterRequestModel

<h1>SignIn sayfasına hosgeldiniz</h1>

@TempData["Message"]

<form asp-action="SignIn" asp-controller="Home" method="post" class="p-3 w-75 m-auto">
    <div action="mb-3">

        <label>Kullanıcı ismi giriniz</label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div action="mb-3">

        <label>Sifre giriniz</label>
        <input asp-for="Password" class="form-control" />
    </div>

   

    <div class="mb-3">
        <button class="btn btn-primary"> Giriş yap</button>
    </div>

</form>